
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">     
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="Home">Login <span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="#">Singup</a></li>
                        </ul>
                    </div>
                </div>
         </nav>  
          <div class="col-md-12">
             <h1 class="text-center">This is register screen :)</h1>
         </div>
         <div class="container"> 
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form class="form">
                      <div class="form-group">
                        <label>Write your name:</label>
                        <input type="name" class="form-control" id="name" placeholder="Your name, please">
                    </div>
                      <div class="form-group">
                        <label>Write your age:</label>
                        <input type="age" class="form-control" id="age" placeholder="Write you age, please">
                    </div>
                      <div class="form-group">
                        <label>Write your e-mail:</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Write your pass:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Confirm your password:</label>
                        <input type="password" class="form-control" id="password2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default center-block">Login</button>
                    </form>
                    <div class="alert text-center">
                        <strong>Hey!</strong> Passwords are not the same!
                    </div>
                </div>
            </div>
        </div>
     
        <script src="singup.js"></script>
